.code-mirror-builder{
    display: flex;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
}

.selection-builder{
    display: flex;
    justify-content: space-between;

}

#submit-builder{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    cursor: alias;
}
.item{
    margin: 5% 13% 5% 0%;
}
